@model LvivCompany.Bookstore.Web.ViewModels.BookDetailViewModel
@section Styles {
    <link href="@Url.Content("~/css/BookDetailStyle.css")" rel="stylesheet" type="text/css" />
}
<form asp-controller="BookDetail" asp-action="BookDetailListView">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img src="@Model.Image" alt="book cover" />
            </div>
            <div class="col-xs-5">
                <!-- Name -->
                <h2>@Model.Name</h2>

                <!-- Author -->
                <label class="title-items">Author   </label><br>
                @foreach (var author in @Model.Authors)
                {
                <span class="inf">@author.FullName<br></span>
                }

                <!-- Category -->
                <label class="title-items">Category   <br></label>
                <span class="inf">@Model.Category<br></span>

                <!-- NumberOfPages -->
                <label class="title-items">Number Of Pages   <br></label>
                <span class="inf">@Model.NumberOfPages<br></span>

                <!-- PUBLISHER -->
                <label class="title-items">Publisher   <br></label>
                <span class="inf">@Model.Publisher<br></span>

                <!-- Year -->
                <label class="title-items">Year   <br></label>
                <span class="inf">@Model.Year<br></span>

                <!-- Seller -->
                <label class="title-items">Seller   <br></label>
                <span class="inf">SellerName<br></span>

                <!-- Amount -->
                <label class="title-items">Amount   <br></label>
                <span class="inf">@Model.Amount<br></span>

                <!-- Price -->
                <label class="title-items">Price<br></label>
                <span class="inf">@Model.Price<br></span>

                <!-- Amount to buy-->
                <div class="section amount">
                    <label class="title-attr">Amount To Order</label>
                    <div>
                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                        <input value="1" />
                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>

                <!-- Add to Order -->
                <div class="section amount">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Order </button>
                </div>
            </div>

            <div class="col-xs-9">
                <label>Description</label>
                <div class="description">
                    <p class="line">
                        <span class="inf">
                          @Model.Description
                            <br></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>


