@model LvivCompany.Bookstore.Web.ViewModels.BookDetailViewModel
@section Styles {
    <link href="@Url.Content("~/css/BookDetailStyle.css")" rel="stylesheet" type="text/css" />
}
<form asp-controller="BookDetail" asp-action="BookDetailListView">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img src="@Model.Image" alt="book cover" />
            </div>
            <div class="col-xs-5">
                <!-- Name -->
                <h2>@Model.Name</h2>

                <ul class="list-info">
                    <!-- Author -->
                <li>
                        <label class="title-items">Author   </label>
                        <ul>
                        @foreach (var author in @Model.Authors)
                        {
                           <li> <span class="inf">@author.FullName</span></li>
                        }
                        </ul>
                </li>

                <!-- Category -->
                <li>
                    <label class="title-items">Category   </label>
                    <span class="inf">@Model.Category</span>
                </li>
                <!-- NumberOfPages -->
                <li>
                    <label class="title-items">Number Of Pages   </label>
                    <span class="inf">@Model.NumberOfPages</span>
                </li>
                <!-- PUBLISHER -->
                <li>
                    <label class="title-items">Publisher   </label>
                    <span class="inf">@Model.Publisher</span>
                </li>
                <!-- Year -->
                <li>
                    <label class="title-items">Year   </label>
                    <span class="inf">@Model.Year</span>
                </li>
                <!-- Seller -->
                <li>
                    <label class="title-items">Seller   </label>
                    <span class="inf">SellerName</span>
                </li>
                <!-- Amount -->
                <li>
                    <label class="title-items">Amount   </label>
                    <span class="inf">@Model.Amount<br></span>
                </li>
                <!-- Price -->
                <li>
                    <label class="title-items">Price</label>
                    <span class="inf">@Model.Price</span>
                </li>
                <!-- Amount to buy-->
                <li>
                    <div class="section amount">
                        <label class="title-attr">Amount To Order</label>
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                            <input value="1" />
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                </li>
                </ul>

                <!-- Add to Order -->
                <div class="section amount">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Order </button>
                </div>
            </div>

            <div class="col-xs-9">
                <label>Description</label>
                <div class="description">
                    <p class="line">
                        <span class="inf">
                          @Model.Description
                            </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>


