@inject LvivCompany.Bookstore.BusinessLogic.CategoryServices categoryList
<!DOCTYPE html>
<html>
<head>
    @RenderSection("Styles", required: false)

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lviv Bookstore Company</title>
    <meta charset="utf-8" />

    <link rel="shortcut icon" href="https://lv251bookstore.blob.core.windows.net/images/LionsofLiterature_1_winner.png" type="image/x-icon" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/SideBarrStyle.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">
    <style>
        h3 {
            font-size: 18px;
        }

        .paddingsubmenu {
            padding-left: 15px;
        }

        .searchbuttonmargin {
            margin-top: -10px;
        }

        .navbar .navbar-text {
            margin: 0px;
            padding: 0px;
            min-height: 8px;
            height: 8px;
        }

        .navbar-inverse {
            height: 12px;
        }

        .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 0px;
        }

        .nav > li > a {
            padding-top: 15px;
            padding-bottom: 0px;
        }

        .fontsize {
            font-size: 18px;
        }

        .nav-side-menu > ul {
            padding-top: 13px;
        }

        .navbar-brand {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .genrebutton{
            display:block;
        }
    </style>
</head>

<body class="bdy-main">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle title-name" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-th-large"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="https://lv251bookstore.blob.core.windows.net/images/4eee7b09-2964-42fd-9474-86e32d0e2035.png" width="220" height="44"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="container-fluid"><a class="fontsize" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="container-fluid"><a class="fontsize" asp-controller="Delivery" asp-action="Index">Delivery</a></li>
                    <li class="container-fluid"><a class="fontsize" asp-controller="About" asp-action="About">About Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right ">

                    <li>
                        <form asp-controller="Search" asp-action="Index">
                            <input class="search-input fontsize" name="SearchText" /> <input class="btn btn-default fontsize searchbuttonmargin" type="submit" value="Search" />
                        </form>
                    </li>
                    <li> <form class="form-inline" asp-controller="Account" asp-action="LogOff" method="post">@await Html.PartialAsync("_PartialLogin") </form></li>
                </ul>

            </div>
        </div>

        <div class="nav-side-menu ">
            <div>
                <ul>
                    <li class="fontsize text-center">
                        Genres
                    </li>
                    @{
                       var list = (await categoryList.GetCategory()).OrderBy(c=>c.Name).ToList();
                        @foreach (var category in list)
                        {
                        <li class="fontsize"><a class="genrebutton" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">@category.Name</a></li>
                    }
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="render-body">
        @RenderBody()
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>