@model ListOrderHistoryViewModel

<div class="container">
    <h1>Order History</h1>
    <div class="col-sm-pull-5">
        <table class=" table table-striped table-condensed">
            <thead>
                <tr>
@if (User.IsInRole("Seller"))
{
    <th>Customer</th>
}
else
{
    <th>Seller</th>
}
                    <th>Book</th>
                    <th>Amount</th>
                    <th> Total Price </th>
                    <th>Added Date </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.orders)
                {
                    <tr>
                        @if (User.IsInRole("Seller"))
                        {
                            <td> @order.Customer</td>
                        }
                        else
                        {
                            <td> @order.Seller</td>
                        }
               
                        <td> @order.BookName</td>
                        <td> @order.Amount</td>
                        <td> @order.TotalPrice</td>
                        <td> @order.OrderDateTime</td>
                    </tr>



                }
            </tbody>
        </table>
        <a class="btn btn-warning" asp-controller="Account" asp-action="Profile">Back </a>
    </div>
</div>
